.bender
Bender.lock
bender
scripts/compile.tcl
scripts/synth_compile.tcl
update-ips.log
synth-ips.log
build-hw.log
profile-ips.log
magia_venv/
modelsim.ini
sw/tests/*/

spatz/bootrom/*.elf
spatz/bootrom/*.bin
spatz/bootrom/*.dump
spatz/bootrom/*.hex

spatz/sw/bin/*.elf
spatz/sw/bin/*.bin
spatz/sw/bin/*.dump

